   <!-- popup, panel 等放在这里 -->
    <div class="panel-overlay"></div>
      <!-- Left Panel with Reveal effect -->
    <div class="panel panel-left panel-reveal">
        <div class="content-block">
            <div class="content-block">
                <p>用户名</p>
                <p><a href="/logout">退出</a></p>
            </div>
        </div>
    </div>